@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}
.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

.tabs {
  border-bottom: 1px solid black;
  background-color: rgb(243, 243, 243);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.activeTab {
  cursor: default;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.notActiveTab {
  cursor: pointer;
}
